/**
* 颜色
*/
$primary: #2080f0;
$black: #001529;
$deep-gray: #565656;
$light-gray: #f5f5f5;
$white: #fff;

.primary {
  color: $primary;
}

// .n-icon{
//   margin-left: 3px;
// }
// .n-icon:hover {
//   color: $primary !important;
// }