@charset "utf-8";
/* CSS Reset*/
body, div, p, ul, ol, li, textarea, form, input, h1, h2, h3, h4, h5, dl, dt, dd, img, section, article, aside, header, footer, nav, dialog, figure, hgroup{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
}
body{
    font-family:"Microsoft YaHei";
   
}
input, button, select, textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    font-family:"Microsoft YaHei";
    outline: none;
    vertical-align: middle;
}
ul, ol, li{
    list-style:none;
}
a{
    cursor: pointer;
    color: inherit;
    text-decoration:none;
}
a:hover{outline: none;}
img{
    border:0;
}
section, article, aside, header, footer, nav, dialog, figure, hgroup{
    display:block;
}
i, cite, em, var, address{
    font-style:normal;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
.ellipsis {
    text-overflow:ellipsis; 
    overflow:hidden; 
    white-space: nowrap;
}
.hidden { display: none; }

.clearfix{*zoom:1; /* for IE6-7 */}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}

/*公用css*/
.borderbox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
